body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: #6f9ae9;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px #6358581a;
  text-align: center;
}

input[type="text"] {
  width: 70%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  
}

li {
  background: #f0f0f0;
  margin-top: 8px;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

li input {
  border: none;
  background: transparent;
  width: 60%;
}

li input:disabled {
  color: #333;
}